{% extends 'baseBack.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block contentblock %}
    <h1>Edit Service</h1>

    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}
    
    <div align="center">
        {{ include('service/_delete_form.html.twig') }}
    </div>
    
    <div align="right">
        <a href="{{ path('app_service_index') }}">
            <button type="button" class="btn btn-dark btn-rounded btn-fw">Back to List</button>
        </a>
    </div>
{% endblock %}
