{% extends 'baseBack.html.twig' %}

{% block title %}New Livraison{% endblock %}

{% block body %}
    <h1 align="center">Ajouter Facture</h1>

    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('livraison_index') }}">Retour</a>
{% endblock %}
