{# templates/payment/failure.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
<h1>Paiement réussi</h1>
<p>Merci pour votre paiement. Votre transaction a été réalisée avec succès.</p>

<div>


    {# Assurez-vous que l'objet 'charge' contient ces données #}
    {# Vous pouvez ajouter plus de détails si nécessaire #}
</div>
{% endblock %}



